.homePage {


    .homePageSection1 {
        background-image: url('../../assets/home-page-background-1.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 90vh;
        width: 100vw;
    }
}