.navbar {
    position: fixed;
    height: 4rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 1;

    background: linear-gradient(to bottom, rgba(51, 101, 138, 1.0), rgba(51, 101, 138, .9));

    .logoContainer {
        height: 100%;
        padding: 0 5rem;

        .logo {
            height: 98%;
        }
    } 

    .options {
        width: 50%;
        height: 100%;
        padding: 0 5rem;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        font-family: 'Raleway', sans-serif;
        font-size: 20px;
        font-weight: 500;

        .option {
            color: white;
            margin-left: 2rem;
            transition: 0.2s;

            &:hover {
                color: #f7b733;
            }
        }

        .takeAction {
            padding: 0.5rem;
            background: #FD3A4A;
            border-radius: 10px;

            &:hover {
                color: white;
                transform: scale(1.1);
            }
        }
    }
}
