.navbar {
    position: fixed;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 15px;    
    opacity: 0.95;

    .logoContainer {
        height: 100%;
        width: 10%;
        margin-left: 3rem;

        .logo {
            height: 95%;
        }
    }

    .menuItems {
        width: 50%;
        height: 100%;
        margin-right: 5rem;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        
        font-weight: bold;

        .menuItem {
            padding: 10px 15px;
            color: black;
            transition: 0.3s;

            &:hover {
                color: #2A9D8F;
            }

            &.takeAction {
                color: black;
                background: red;
                border-radius: 10px;
                margin-left: 1rem;
                transition: .6s;

                &:hover {
                    background:#E76F51;
                }
            }
        }
    }
}

