.navbar {
    position: fixed;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 15px;

    background: black;
    opacity: .9;

    .logoContainer {
        height: 100%;
        width: 70px;
        margin-left: 5rem;
    }

    .menuItems {
        width: 50%;
        height: 100%;
        margin-right: 5rem;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .menuItem {
            padding: 10px 15px;
            color: white;

            &.takeAction {
                color: red;
            }
        }
    }
}