.headerBackground {
    height: 70px;
    width: 100%;
    background: black;

    .navbar {
        height: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 15px; 
        background: linear-gradient(to bottom, rgba(0, 0, 0, 1.0), rgba(0, 0, 0, .75));

        .logoContainer {
            height: 100%;
            width: 10%;
            margin-left: 3rem;
    
            .logo {
                height: 95%;
            }
        }
    
        .menuItems {
            width: 50%;
            height: 100%;
            margin-right: 5rem;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            
            font-weight: bold;
    
            .menuItem {
                padding: 10px 15px;
                color: white;
                transition: 0.3s;
    
                &:hover {
                    color: #2A9D8F;
                }
    
                &.takeAction {
                    background: red;
                    border-radius: 10px;
                    margin-left: 1rem;
                    transition: .6s;
    
                    &:hover {
                        color: white;
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
}


