html, body {
  height: 100%;
  position: relative;
}

.main-container {
  min-height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 10rem;
}

#content-container {

}

a {
  text-decoration: none;
  color: black;
}

